# NOTE:
# This file is for reference only.
# The authoritative AUR package lives at:
# https://aur.archlinux.org/packages/dubsync-stem-bin
#
# Git repository:
# ssh://aur@aur.archlinux.org/dubsync-stem-bin.git
